.VideoSideBar{
    position: absolute;
    top: 30%;
    right: 10px;
    color: white;
}
.videoSidebar__button{
    padding: 20px;
    text-align: center;
}

.videoSidebar__plus{
    position: absolute;
    top: 65px;
    right: 45px;
}

.videoSidebar_follow{
    color: #FF2A55;
}